<h2><%= link_to raw('カートに入れる'), "#newPostModal", class: "btn btn-primary", data: {toggle: "modal"} %></h2>

<div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPostModalLabel">個数を選択してください</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: cart_item, url: cart_items_path, local: true do |f| %>
          <%= f.hidden_field :item_id, value: item.id%>
          <%= f.select :amount, *[1..9], { include_blank: "個数" } %>
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>